### 2879 Display the First Three Rows

## Problem Statement

Write a solution to display the **first three rows** of a **DataFrame** named `employees`.

### **Schema of the DataFrame:**
| Column Name  | Type   |
|-------------|--------|
| employee_id | int    |
| name        | object |
| department  | object |
| salary      | int    |

## Example

### **Input:**
#### **DataFrame: employees**
| employee_id | name      | department            | salary |
|------------|-----------|----------------------|--------|
| 3          | Bob       | Operations           | 48675  |
| 90         | Alice     | Sales                | 11096  |
| 9          | Tatiana   | Engineering          | 33805  |
| 60         | Annabelle | InformationTechnology| 37678  |
| 49         | Jonathan  | HumanResources       | 23793  |
| 43         | Khaled    | Administration       | 40454  |

### **Output:**
| employee_id | name    | department  | salary |
|------------|---------|------------|--------|
| 3          | Bob     | Operations | 48675  |
| 90         | Alice   | Sales      | 11096  |
| 9          | Tatiana | Engineering | 33805  |

### **Explanation:**
Only the **first three rows** of the `employees` DataFrame are displayed.

In [2]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

### Example:

In [3]:
# Creating the employees DataFrame
data = {
    'employee_id': [3, 90, 9, 60, 49, 43],
    'name': ['Bob', 'Alice', 'Tatiana', 'Annabelle', 'Jonathan', 'Khaled'],
    'department': ['Operations', 'Sales', 'Engineering', 'InformationTechnology', 'HumanResources', 'Administration'],
    'salary': [48675, 11096, 33805, 37678, 23793, 40454]
}

employees = pd.DataFrame(data)

# Displaying the first 3 rows
print(employees.head(3))

   employee_id     name   department  salary
0            3      Bob   Operations   48675
1           90    Alice        Sales   11096
2            9  Tatiana  Engineering   33805